version: "2.4"

networks:
  default:
    ipam:
      config:
        - subnet: {{ docker_network_subnet }}

services:
  nginx:
    build: "./docker_nginx/"
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/log/nginx/:/var/log/nginx/
      - {{ backend_root_dir }}:{{ backend_root_dir }}
    networks:
      default:
        ipv4_address: {{ docker_nginx_ip }}
    mem_limit: 256M
  php:
    build: "./docker_php73/"
    volumes:
      - {{ backend_root_dir }}:{{ backend_root_dir }}
    networks:
      default:
        ipv4_address: {{ docker_php_ip }}
    ports:
      - 9001:9001
    mem_limit: 4096M
  node:
    build: "./docker_node"
    volumes:
      - {{ frontend_root_dir }}:{{ frontend_root_dir }}
      - {{ frontend_root_dir }}/node_modules
    extra_hosts:
      - "{{ backend_domain }}:{{ ip }}"
    networks:
      default:
        ipv4_address: {{ docker_node_ip }}
    mem_limit: 2048M
    stdin_open: true
  mysql:
    build: "./docker_mysql56/"
    environment:
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
      - MYSQL_USER={{ db_user }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_DATABASE={{ db_name }}
    volumes:
      - /var/lib/mysql/data/:/var/lib/mysql/data/
    ports:
      - 3306:3306
    networks:
      default:
        ipv4_address: {{ docker_mysql_ip }}
    mem_limit: 512M
  redis:
    build: "./docker_redis60/"
    ports:
      - 6379:6379
    networks:
      default:
        ipv4_address: {{ docker_redis_ip }}
    mem_limit: 256M
